@import url('https://fonts.googleapis.com/css?family=Cormorant%20SC:700|Cormorant%20SC:400');

body{
    padding:0px;
    margin: 0px;
    font-family: 'Cormorant SC';
    font-weight: 700;
    background-color: #F4FDEB;
}

h1{
    font-size: 3rem;
}

.main-page{
    display: flex;
     justify-content: center;
    flex-direction: column;
    align-items: center;
    width:100%;
  } 
  
.blogs{
    display: flex;
    flex-wrap: wrap;
    max-width:97%;
    gap: 2rem;
    
}

.blogs ul{
    gap: 2.5rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}


.post_content{
    /* background-color:aliceblue ; */
    display: flex;
    flex-direction: column;
    padding: 1rem;
    gap: 1rem;
    justify-content: center;
    align-items: center;
}

.post-title{
    text-align: center;
    font-size: 1.5rem;
}


.post_content img{
    border: 1px solid #0c0d0aa6;
    border-radius: 10px;
    max-width: 60%;
    transition: transform 0.3s ease;
    object-fit: cover;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.post_content img:hover {
    transform: scale(1.1); 
    transition-duration: .6s; 
  }

.post{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color:#ABBEAE;
    padding: 1rem;
    border: 1px solid #0c0d0aa6;
    border-radius: 20px;
    min-width: 50%;
    max-width: 25%;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);
}
