@import url('https://fonts.googleapis.com/css?family=Cormorant%20SC:700|Cormorant%20SC:400');
@import url('https://fonts.googleapis.com/css?family=Cormorant%20SC:700|Instrument%20Sans:400');
body{
    padding:0px;
    margin: 0px;
    font-family: 'Cormorant SC';
    font-weight: 700;
    background-color: #ABBEAE;
    display:flex;
    flex-direction: column;
}

#summary{
    display: flex;
    flex-direction: column;
    align-items: center;

    background-color: #ABBEAE;
    min-height: 100vh;
}

.title{
    text-align: center;
    font-size: 3rem;
}

.page-information{
    gap: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: justify;
    /* background-color: aquamarine; */
    max-width: 80%;

}

p{
    font-size: 1rem;
    font-family: 'Instrument Sans';
    font-weight: 400;
}

.buttons{
    margin-top: 1.5rem;
    max-width:95%;
    display: flex;
    justify-content: end;
    gap: 2rem;
    /* background-color: bisque; */
}

.buttons button{
    padding: .5em 2em;
    border-radius: 10px;
    border:1px solid rgba(0, 0, 0, 0.445);
}

#deletebutton{
    color: rgb(228, 227, 227);
    background-color: rgb(255, 0, 0);
}