{% extends "base.html" %}
{% load static %}

{% block title %}{{post.title}}{% endblock title %}

{% block style %}
<link rel="stylesheet" href="{% static "home/post-page.css" %}">
{% endblock style %}
{% block content %}  
  <div class="buttons">
    <button id="editbutton" onclick="window.location.href='{% url 'blog-update' pk=post.pk %}'" type="button">Edit</button>

    <button  id="deletebutton" onclick="window.location.href='{% url 'blog-delete' pk=post.pk %}'" type="button">Delete</button>
  </div>
  <section id="summary">

      <h1 class="title">{{post.title}}</h1>
      <article class="page-information">
        <address>By {{post.author}}</address>
        <div>
          Created at <time>{{post.created}} UTC</time>
        </div>
        
        <main>
          <p>
            {{post.content}}
        </main>
      </article>
    </section>
{% endblock content %}